@media all and (max-width: 1000px) {

}

body {
	margin: 0;
	padding: 0;
	background: #004882;
	display: flex;
	flex-direction: column;
}

html{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.header {
	width: 100%;
	height: 150px;
	display: black;
	background-color: #101010
	/* A lot of the information I got for making the header I got from this youtube video
	https://www.youtube.com/watch?v=GxwHXxumdQk
	*/
}
.logo {
	height: 100%;
	display: table;
	float: left;

}

.logo img {
	height: 155px;
	width: 300px;
	position: relative;
	left: 30px;
} 


.navigation {
	float: right;
	height: 100%;
}

.navigation a {
	height: 100%;
	display: table;;
	float: left;
	padding: 0px 20px;
}

.drop-down{
	display: table-cell;
	vertical-align: middle;;
	height: 100%;
	color: white;
	font-family: monospace;
	background-color: gray;
	font-size: 20px;
}

.drop-down select {
	font-family: monospace;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
}

.drop-down button{
	font-family: monospace;
	background-color: gray;
	color: white;
	font-size: 20px;
}

.drop-down button:hover{
	background-color: #008B8B;
}


.planets img{
	border-radius: 50%;
	min-height: 100%;
}


/* I got some info on arranging the layout of the 
imgaes from here
https://stackoverflow.com/questions/12813573/position-icons-into-circle
*/
.planets {
	position: relative;
	padding: 2.8em;
	border: dashed 3px;
	border-radius: 50%;
	margin: 1.75em auto 0;
	flex: 1;
}

.planets img:hover {
	transform: scale(1.30);
}


#footer {
	height: 100%;
    width: 100%;
    background: black;
    color: white;
    align-self: flex-end;
    bottom: 20px;
}

#footer img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

#footer h4 {
	color: white;
	font-family: monospace;
	font-size: 30px;
	text-align: center;
}

.paragraph{
	color: white;
	font-family: monospace;
	font-size: 20px;
	text-align: center;

}

#footer button {
	color: white;
	background-color: gray;
}

#footer button:hover {
	background-color: #FF6347;

}

#footer a {
	background-color: gray;
	color: white;
	width: 100px;
	font-size: 16px;

}

#footer a:hover {
	background-color: #FF6347; 

}

#footer .contact-links img {
	border-radius: 100%;
	height: 30px;
	width: 30px;
	border-radius: 100%;
}

aside {
	height: 500px;
	width: 30px;

}

.twitter-timeline {
	height: 1000px;
	width: 900px;
}

#main {
	margin-right: 60%;
}

/* Phone media query */
@media only screen (max-width: 600px){
	#twitter-timeline {
	height: 200px;
	width: 900px;
	}
}

/* Desktop media query */
@media only screen and (min-width: 992px) {
	body {
		background: linear-gradient(to right, #00FFFF, #9370BD);

	}
}